.counter {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
  height: 200px;
  width: 250px;
  border-radius: 10px;
}
body{
  background-color: rgb(41, 176, 186);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  
}
.counter h1{
background-color: rgb(131, 115, 223);
border-radius: 10px;
margin-bottom: 40px;

}
.counter h2{
  justify-content: center;
  margin-top: 12px;
}
.counter button{
  justify-items: end;
  background-color: red;
  font-size: large;
  margin: 10px;
  border-radius: 10px;
}